[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:ribbybibby/ribbybibby.github.io.git
	branch = master
[submodule "themes/zozo"]
	path = themes/zozo
	url = git@github.com:varkai/hugo-theme-zozo.git
